.window {
	position: relative;
	height:650px;
	width:1210px;
	background-color: #fefec4;
	border-right: medium solid white;
	border-bottom: medium solid white;
	border-width: 40px;
	border-bottom-width: 80px;
}

.window-middle-border {
    position: absolute;
	margin-left:5cm;
	height:700px;
	width:100px;
	background-color: white;
}

.middle-border-div {
	position: absolute;
    margin-left:45px;
	height:730px;
	width:6px;
	background-color: #fefe66;
}

.right-window-border {
    position: absolute;
	margin-left:725px;
	height:700px;
	width:30px;
	background-color: white;
	
}

.right-window-horizontal-border {
    position: absolute;
	margin-top:4cm;
	height:30px;
	width:1220px;
	background-color: white;
	
}


.t1 {width:1289px;height: 30px;background-color: white;border-top:medium solid #fe80fe}
.t2 {width:1318px;height: 30px;background-color: white;}
.t3 {width:1347px;height: 30px;background-color: white;}
.t4 {width:1376px;height: 30px;background-color: white;}
.t5 {width:1405px;height: 30px;background-color: white;}
.t6 {width:1434px;height: 30px;background-color: white;}
.t7 {width:1463px;height: 400px;background-color: #fe80fe;}

.curtain {
	width:230px;
	height: 30px;
	background-color: #FA8072;
	margin-left:1100px; 
	position:absolute;
	box-shadow: 30px 30px #FA8072,
	60px 60px #FA8072,
	60px 90px #FA8072,
	90px 120px #FA8072,
	90px 150px #FA8072,
	90px 180px #FA8072,
	90px 210px #FA8072,
	120px 240px #FA8072,
	120px 270px #FA8072,
	120px 300px #FA8072,
	120px 330px #FA8072,
	120px 360px #FA8072,
	120px 390px #FA8072,
	120px 420px #FA8072,
	150px 450px #FA8072,
	150px 480px #FA8072,
	150px 510px #FA8072;
	}
