.window {
	position: relative;
	height:800px;
	width:1220px;
	background-color: #fefec4;
	border-right: medium solid white;
	border-bottom: medium solid white;
	border-width: 40px;
	border-bottom-width: 80px;
}

.window-middle-border {
    position: absolute;
	margin-left:5cm;
	height:800px;
	width:40px;
	background-color: white;
}


