.window {
	position: relative;
	height:800px;
	width:1220px;
	background-color: #fefec4;
	border-right: medium solid white;
	border-bottom: medium solid white;
	border-width: 40px;
	border-bottom-width: 80px;
}

.window-middle-border {
    position: absolute;
	margin-left:5cm;
	height:800px;
	width:40px;
	background-color: white;
}

.middle-border-div {
	position: absolute;
    margin-left:45px;
	height:880px;
	width:6px;
	background-color: #fefe66;
}

.right-window-border {
    position: absolute;
	margin-left:725px;
	height:800px;
	width:30px;
	background-color: white;
	
}

.right-window-horizontal-border {
    position: absolute;
	margin-top:4cm;
	height:30px;
	width:1220px;
	background-color: white;
	
}
